<section class="main-header container_fluid">
    <div class="row">           
     <h1>ツイッター</h1>
<div class="col-md-6 col-sm-12">       
  <p>いまどうしてる？</p>
  <img src="<%= asset_path "top.jpg" %>">
  </div>
  
  <div class="col-md-6 col-sm-12">
  <p>つぶやこう！</p>
  <img src="<%= asset_path "kotorisan.png" %>">
  </div>  
  </div>  
  
</section>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

<footer>
  <p>運営会社つぶやき株式会社</p>
  <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
</footer>
